.root {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.meter {
	width: 100%;
	height: 2rem;
}

.labels {
	display: flex;
	flex-direction: row;
}

.extraIncome {
	margin-left: auto;
}

.budget {
	margin-left: auto;
}
