.budgetRow {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.income {
	margin-left: auto;
	margin-right: 1rem;
}

.expenses {
	margin-right: auto;
}

.weeklyBudget {
	margin-right: auto;
	margin-left: auto;
}
