.header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.buttons {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.buttons a {
	display: contents;
}

.search {
	width: 2rem;
	height: 2rem;
	color: black;
}

.addIcon {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: -2px;
}

.none {
	font-style: italic;
}
