.inputs {
	display: flex;
	flex-direction: column;
}

.amount {
	margin-bottom: 1rem;
}

.buttons {
	display: flex;
	flex-direction: row;
}

.deleteButton {
	margin-right: 5rem;
}

.cancelButton {
	margin-left: auto;
	margin-right: 1rem;
}
