.root {
	overflow-y: scroll;
	height: calc(100vh - 17rem);
	padding-left: 4px;
	padding-right: 8px;
	border: 1px solid lightgray;
}

.onlyShowNewItems {
	display: flex;
	flex-direction: row;
}

.onlyShowNewItems > *:first-child {
	margin-left: auto;
}
