.root {
	margin-bottom: 0.5rem;
	cursor: pointer;
	box-shadow: var(--box-shadow);
	border-radius: 4px;
	padding: 0.5rem 0.75rem;
}

.root:hover {
	box-shadow: var(--box-shadow-active);
	background-color: lightblue;
}

.row {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5rem;
	align-items: baseline;
}

.amount {
}

.note {
	margin-left: 1rem;
	font-style: italic;
}

.negativeDiscrepancy {
	margin-left: 1rem;
	font-style: bold;
	color: darkgreen;
	font-size: 0.75rem;
}

.positiveDiscrepancy {
	margin-left: 1rem;
	font-style: bold;
	color: darkred;
	font-size: 0.75rem;
}

.description {
	font-size: 0.75rem;
}

.pill {
	margin-left: auto;
}
