.date {
	font-weight: bold;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.onlyShowNewItems {
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
	margin-bottom: -2rem;
}

.onlyShowNewItems > *:first-child {
	margin-left: auto;
}
