.root {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.previous {
	margin-left: auto;
	margin-right: 1rem;
	margin-top: 12px;
	width: 5rem;
}

.next {
	margin-left: 1rem;
	margin-right: auto;
	margin-top: 12px;
	width: 5rem;
}

.daysOfWeek {
	display: flex;
	flex-direction: row;
}

.dayOfWeek {
	width: 2rem;
	text-align: center;
}

.past {
	background-color: lightblue;
}

.today {
	background-color: lightgreen;
}

.future {
	background-color: lightgray;
}
