.root {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.previous {
	margin-left: auto;
	margin-right: 1rem;
	margin-top: 12px;
}

.next {
	margin-left: 1rem;
	margin-right: auto;
	margin-top: 12px;
}

.icon {
	width: 1rem;
	height: 1rem;
}

.weekRange {
	text-align: center;
}

.daysOfWeek {
	display: flex;
	flex-direction: row;
}

.dayOfWeek {
	width: 2rem;
	text-align: center;
}

.past {
	background-color: #dbeef5;
}

.today {
	background-color: #b2e0f1;
}

.future {
	background-color: white;
}
