.button {
	font-family: 'Lato', sans-serif;
	height: 2rem;
	border: 0;
	padding: 0.5em 1em;
	box-shadow: var(--box-shadow);
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color var(--timing-reactive) linear,
		box-shadow var(--timing-reactive) linear;
}

.button:hover:not([disabled]),
.button:focus:not([disabled]) {
	box-shadow: var(--box-shadow-active);
}

.button:active:not([disabled]) {
	transition-timing-function: ease-out;
	box-shadow: none;
}

.button:disabled {
	cursor: not-allowed;
}

.button :global(.loading-icon) {
	width: 1rem;
	height: 1rem;
	margin: auto;
	margin-top: -30px;
}

.processing {
	opacity: 0;
}

.primary {
	background-color: #2a6ce5;
}

.primary:disabled {
	background-color: #abc4f2;
}

.primary:hover:not([disabled]),
.primary:focus:not([disabled]) {
	background-color: #6996e7;
}

.primary:active:not([disabled]) {
	background-color: #3d76e1;
}

.default {
	background-color: #9b9999;
}

.default:disabled {
	background-color: #bbb;
}

.default:hover:not([disabled]),
.default:focus:not([disabled]) {
	background-color: #aaa;
}

.default:active:not([disabled]) {
	background-color: #6a6868;
}

.danger {
	background-color: #cf0909;
}

.danger:disabled {
	background-color: #e37373;
}

.danger:hover:not([disabled]),
.danger:focus:not([disabled]) {
	background-color: #d72626;
}

.danger:active:not([disabled]) {
	background-color: #b90808;
}

.children {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.icon {
	width: 1rem;
	height: 1rem;
}
